mixin input(name, placeholder)
  input(class="w-full h-12 p-4 border border-gray-300 rounded-md outline-none")&attributes(attributes)
mixin textarea(name, placeholder)
  textarea(class="w-full h-32 p-4 border border-gray-300 rounded-md outline-none resize-none")&attributes(attributes)
mixin label(text)
  label(class="text-sm font-medium text-gray-900") #{text}
mixin button(text)
  button(class="px-6 py-3 text-sm font-medium text-white bg-blue-500 rounded-md")&attributes(attributes) #{text}
mixin checkbox(text)
  label(class="flex items-center gap-2 cursor-pointer")
    input(type="radio" class="w-5 h-5 border border-gray-200")&attributes(attributes)
    span= text

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap", rel="stylesheet")
  body
    .wrapper(class="mx-auto max-w-[1400px] items-start py-12 px-4 hidden lg:grid grid-cols-[300px,1fr] gap-10")
      include ./pug/sidebar
      .main(class="px-10 py-5 bg-white rounded-lg", style="box-shadow: 0px 40px 138px 0px rgba(0, 0, 0, 0.08);")
        block main
    script(type="module", src="/app.js")
    block scripts
