mixin postItem
  a(href="/post-details.html?id=1", class="block post-item")
    div(class="post-image h-[200px]")
      img.w-full.h-full.object-cover.rounded-lg(src="https://images.unsplash.com/photo-1501696461415-6bd6660c6742?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2874&q=80", alt)
    .post-content.py-5
      h3(class="mb-3 text-2xl font-semibold post-title") 9 Ways to Flight Booking of the Airtrav website
      div(class="post-desctext-smtext-gray-600")
        | Being a Human Resource Manager, it is your responsibility to understand the needs of industries have different types of workforce, but they do have one thing in common - business travel.

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;600&display=swap", rel="stylesheet")
  body
    header(class="sticky top-0 z-40 flex items-center w-full h-12 px-5 bg-white border-b border-gray-200 header")
      a(href="/", class="px-5 py-3 text-blue-500 rounded-lg") Home
      a(href="/manage-posts.html", class="px-5 py-3 text-blue-500 rounded-lg") Dashboard
    block main
    script(type="module", src="/app.js")
    block scripts
      script(type="module", src="/main.js")
