extends ./dashboard
block main
  h1(class="mb-10 text-3xl font-semibold text-gray-900") Manage Posts
  .flex.items-center.justify-end.mb-10.gap-20
    div(class="flex items-center gap-5 whitespace-nowrap")
      +button("Sort by Id")(class="sort-by-id")
      +button("Sort by Status")(class="sort-by-status")
      +button("Sort by Title")(class="sort-by-title")
    +input(placeholder="Search posts" name="filter")
  .table-manage(class="w-full")
    table(class="table w-full border-collapse" id="table-manage-posts")
      thead
        tr
          each val in ["ID", "Info", "Status", "Actions"]
            th(class="p-3 text-sm font-medium text-left")=val
      tbody
    .py-10.flex.items-center.justify-center
      +button("Load more")(class="load-more-post")
block scripts
  script(type="module", src="/scripts/manage-posts.js")