extends ./dashboard
block main
  h1(class="mb-10 text-3xl font-semibold text-gray-900") Update post
  form#update-post-form(class="w-full")
    .form-row
      .form-group
        +label("Title")
        +input()(placeholder="Enter your title" name="title")
      .form-group
        +label("Slug")
        +input()(placeholder="Enter your slug" name="slug")
    .form-row
      .form-group
        +label("Image")
        +input()(placeholder="Enter your image URL" name="image")
      .form-group
        +label("Description")
        +textarea()(placeholder="Enter your description" name="description")
    .form-row
      .form-group
        +label("Status")
        .flex.items-start.gap-5
          +checkbox("Published")(name="status" value="publish")
          +checkbox("Pending")(name="status" value="pending")
          +checkbox("Reject")(name="status" value="rejected")
      .form-group
    .form-row(class="grid-cols-1")
      +textarea()(placeholder="Enter your content" name="content" id="editor")

    +button("Update post")(class="block mx-auto w-fit")
block scripts
  script(type="module", src="/scripts/update-post.js")